body{

    margin: auto;
    padding: auto;
    background-color:#bdc3c7 ;
}


.container {
    width: 500px;
    margin: auto;
    position: relative;
  }
  
  .slides {
    display: none;
  }
  .prev,
.next {
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 16px;
  border-radius: 0 3px 3px 0;
  background: rgba(0, 0, 0, .5);
  transition: all .3s;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background: rgba(0, 0, 0, .8);
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 10px 2px 0 2px;
    display: inline-block;
    background: #ddd;
    transition: all .3s;
  }
  
  .active,
  .dot:hover {
    background: #717171;
  }
  .c1 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .c1 {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #667;
    transform: translateY(4px);
  }
  
  
  
  .c1{
      position: absolute;
      margin-left: 150%;
      margin-top: 110px;
      }